.container {
  height: 400px;
  width: 100%;
  background-color: #5e1111;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#cardContainer {
  height: 250px;
  width: 200px;
  background-color: #b8abab;
  border-radius: 20px;

}