:root {
  /* Paleta de Colores */
  --color-primary: #af8000;
  --color-secondary: #944229;
  --color-background: #dbcc40;
  --color-surface: #c09e40;
  --color-text: #57cf7f;
  --color-text-muted: #038d31;
  --color-accent: #48ff00;
  --color-error: #ff5e00;

  /* Fuentes */
  line-height: 1.6;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}